#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cart{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    max-width: 400px;
    margin: 2rem auto;
}
.container{
     display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 10px;
}
